<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="MahdiY">
    <title>لیست تجمیعی انبارداری</title>
    <link href="{{ const.url }}assets/css/1.css" rel="stylesheet">
    <style>
        body {
            font-family: {{ options.design.font }} !important;
            color: {{ options.design.font_color }};
        }

        .content.factor th {
            background: {{ options.design.bg_color }};;
        }

        @media print {
            thead {
                display: table-header-group;
                margin-bottom: 2px;
            }
        }
    </style>
</head>
<body>
<div class="content stock">
    <table style="width:100%">
        <thead>
        <tr>
            <th>ردیف</th>
            <th>محصول</th>
            <th>تعداد</th>
        </tr>
        </thead>
        {% set products = {} %}

        {% for order in orders %}

            {% for item in order.get_items() %}

                {% set data = item.get_data() %}

                {% set quantity = data.quantity + item.quantity_refunded %}

                {% set product = item.get_product() %}

                {% set key = 'product_' ~ product.get_id() %}

                {% if attribute( products, key ) is defined %}
                    {% set quantity = quantity + products[key].quantity %}
                {% endif %}

                {% set products = products|merge({
                    (key): {
                        'quantity': quantity,
                        'item': item,
                    }
                }) %}

            {% endfor %}

        {% endfor %}

        {% for product in products|sort((a, b) => a.quantity <= b.quantity) %}

        {% if product.quantity > 0 %}
            <tr>
                <td class="centerp">{{ loop.index | fa }}</td>
                <td style="margin: 0; text-align: right;">
                    {{ product.item.name }}
                    {% for meta_data in product.item.get_formatted_meta_data() %}
                        | <strong>{{ meta_data.display_key }}:</strong> {{ strip_tags( meta_data.display_value ) }}
                    {% endfor %}
                    <br>
                    بارکد: {{ product.item.sku }}
                </td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endif %}

{% endfor %}