<div class="content factor">
    <div class="header">
        <div class="logo"><img src="{{ options.design.store_logo }}"></div>
        <div class="text">{{ order.is_paid() ? 'فاکتور' : 'پیش فاکتور' }}</div>
        <div class="info">
            <p>شماره فاکتور: {{ order.get_order_number() | fa }}</p>
            {{ order.get_id() | barcode }}
            <p>تاریخ: {{ date | fa }}</p>
        </div>
    </div>
    <table>
        <tr>
            <th width="50%">فروشنده</th>
            <th width="50%">خریدار</th>
        </tr>
        <tr>
            <td>
                <p>
                    <b>فروشنده: </b>
                    {{ options.info.store_name }}
                      
                    <b>استان: </b>
                    {{ options.info.store_state }}
                    <b>شهر: </b>
                    {{ options.info.store_city }}
                    <b>کد پستی: </b>
                    {{ options.info.store_postcode | fa }}
                    <b>تلفن: </b>
                    {{ options.info.store_phone | fa }}
                    <b {{ options.info.store_economic_code | show_hide }}>کد اقتصادی: </b>
                    {{ options.info.store_economic_code }}
                    <b {{ options.info.store_registration_number | show_hide }}>شماره ثبت: </b>
                    {{ options.info.store_registration_number }}
                </p>
                <p>
                    <b>نشانی: </b>
                    {{ options.info.store_address | fa }}
                </p>
            </td>

            <td>
                <p>
                    <b>خریدار: </b>
                    {{ order.get_billing_name() }}
                      
                    <b>استان: </b>
                    {{ order.get_billing_state() | state_city_name }}
                    <b>شهر: </b>
                    {{ order.get_billing_city() | state_city_name }}
                    <b>کد پستی: </b>
                    {{ order.get_billing_postcode() | fa }}
                    <b>شماره تماس: </b>
                    {{ order.get_billing_phone() | fa }}
                </p>
                <p>
                    <b>نشانی: </b>
                    {{ order.get_billing_address_1() | fa }}
                    {{ order.get_billing_address_2() | fa }}
                </p>
            </td>
        </tr>
        <tr {{ has_different_address | show_hide }}>
            <th colspan="2">حمل و نقل</th>
        </tr>
        <tr {{ has_different_address | show_hide }}>
            <td colspan="2">
                <p>
                    <b>خریدار: </b> {{ order.get_shipping_name() }}
                      
                    <b>استان: </b>
                    {{ order.get_shipping_state() | state_city_name }}
                    <b>شهر: </b>
                    {{ order.get_shipping_city() | state_city_name }}
                    <b>کد پستی: </b>
                    {{ order.get_shipping_postcode() }}
                    <b>نشانی: </b>
                    {{ order.get_shipping_address_1() | fa }}
                    {{ order.get_shipping_address_2() | fa }}
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>ردیف</th>
            <th>کد کالا</th>
            <th {{ options.design.show_product_image | show_hide }} class="image-col">تصویر</th>
            <th style="min-width: 300px;">شرح کالا یا خدمات</th>
            <th>تعداد</th>
            <th>مبلغ واحد<br/>({{ currency_symbol() }})</th>
            <th>مبلغ کل<br/>({{ currency_symbol() }})</th>
        </tr>
        {% for item in order.get_items() %}

            {% set data = item.get_data() %}

            <tr>
                <td class="centerp">{{ item.row | fa }}</td>
                <td class="centerp">{{ item.sku | fa }}</td>
                <td class="centerp" {{ options.design.show_product_image | show_hide }} class="image-col">
                    {{ item.image | raw }}
                </td>
                <td>
                    {{ data.name }}
                    {% for meta_data in item.get_formatted_meta_data() %}
                        | <strong>{{ meta_data.display_key }}:</strong> {{ strip_tags( meta_data.display_value ) }}
                    {% endfor %}
                </td>
                <td class="centerp">
                    {% if item.quantity_refunded %}
                        <del>{{ data.quantity | fa }}</del>
                        <ins>{{ ( data.quantity + item.quantity_refunded ) | fa }}</ins>
                    {% else %}
                        {{ data.quantity | fa }}
                    {% endif %}
                </td>
                <td class="centerp">
                    {% if item.regular_price > 0 %}
                        <del {{ options.design.show_regular_price | show_hide }}>
                            {{ item.regular_price | price }}
                        </del>
                    {% endif %}
                    {{ item.price | price }}
                </td>
                <td class="centerp">{{ data.total | price }}</td>
            </tr>
        {% endfor %}
        <!----->
        <tr>
            <td colspan="{{ options.design.show_product_image ? 4 : 3 }}" class="leftp">مجموع:</td>
            <td colspan="1" class="centerp">
                {% if order.get_total_quantity_refunded() %}
                    <del>{{ order.get_total_quantity() | fa }}</del>
                    <ins>{{ order.get_total_quantity_without_refunded() | fa }}</ins>
                {% else %}
                    {{ order.get_total_quantity() | fa }}
                {% endif %}
            </td>
            <td colspan="2" class="centerp">{{ order.get_subtotal() | price }} {{ currency_symbol() }}</td>
        </tr>
        {% if order.get_total_discount() > 0 %}
            <tr>
                <td colspan="{{ options.design.show_product_image ? 5 : 4 }}" class="leftp">تخفیف:</td>
                <td colspan="2" class="centerp">{{ order.get_total_discount() | price }}</td>
            </tr>
        {% endif %}
        {% if order.get_shipping_methods() %}
            <tr>
                <td colspan="{{ options.design.show_product_image ? 5 : 4 }}" class="leftp">هزینه ارسال
                    - {{ order.get_shipping_method() }}:
                </td>
                <td colspan="2" class="centerp">{{ order.get_shipping_total() | price }}</td>
            </tr>
        {% endif %}
        {% if order.get_total_tax() > 0 %}
            <tr>
                <td colspan="{{ options.design.show_product_image ? 5 : 4 }}" class="leftp">مالیات:</td>
                <td colspan="2" class="centerp">{{ order.get_total_tax() | price }}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="{{ options.design.show_product_image ? 5 : 4 }}" class="leftp">روش پرداخت:</td>
            <td colspan="2" class="centerp">{{ order.get_payment_method_title() }}</td>
        </tr>
        {% if order.get_total_refunded() > 0 %}
            <tr>
                <td colspan="{{ options.design.show_product_image ? 5 : 4 }}" class="leftp">مسترد شده:</td>
                <td colspan="2" class="centerp">{{ order.get_total_refunded() | price }}</td>
            </tr>
        {% endif %}
        <tr>
            <th colspan="{{ options.design.show_product_image ? 4 : 3 }}">مجموع مبلغ نهایی</th>
            <th colspan="3"
                class="centerp">{{ order.get_total_without_refunded() | price }} {{ currency_symbol() }}</th>
        </tr>
    </table>
    <div class="emza centerp" {{ options.info.store_description | show_hide }}>
        {{ wpautop( options.info.store_description ) }}
    </div>
    <div class="emza centerp" {{ options.design.show_customer_note | show_hide }} {{ order.get_customer_note() | show_hide }}>
        {{ wpautop( order.get_customer_note() ) }}
    </div>
</div>